.detail {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.detail img {
  width: 712px;
  height: 700px;
  border-radius: 24px;
}

.description {
  width: 536px;
  margin: 0 0 0 64px;
}

.description span {
  height: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  color: #677b8f;
}

.description span:hover {
  cursor: pointer;
}

.active {
  color: #4959ff !important;
}

@media all and (max-width: 375px) {
  .detail {
    width: 343px;
    flex-direction: column;
  }

  .detail img {
    width: 343px;
    height: 332px;
    border-radius: 16px;
  }

  .description {
    width: 343px;
    margin: 0px;
  }

  .description h4 {
    margin: 22px 0 0 0;
  }
}
