.switchers {
  width: 300px;
  height: 14px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 375px) {
  .switchers {
    width: 276px;
    height: 14px;
    margin: 16px 0 20px 0;
  }
}
